body {text-align: center; background-color: white; font-family: sans-serif;}
h1 {font-family: fantasy;}
h2 {background-color: grey; color: white;}
h3 {background-color: grey; color: white;}
p {font-family: monospace;}
